
body{
    margin-top: 0px;
    background-color: blanchedalmond;
}
.vikas{
    color: red;
    width: 100%;
    height: 70px;
    background-color: #EE9322;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.vikas h1{
    font-family: 'Roboto Slab', serif;
    color: white;
    padding: 15px;
}
.sideDiv{
    
    border-top-left-radius: 5px;
    background-color:white;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 25px;
    box-shadow:  5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    
}
.sideDiv a{
    text-decoration: none;
}
.footerDiv{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
   
      
}
.footerDiv p {
    position: absolute;
    bottom: 0px;
    
}